body{
    background-image: url("202125.jpg");
    color: white;
    text-align: justify;
    height: 100%;
    width: 100%;
}
a{
    color: orange;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f1/HILLBLU_button_background.svg");
}
ul{
    list-style-position: inside;
}
header{
    background-color: orange;
    position: top;
    background-image: url("wow.jpg")
}
button{
    background-image: url("butt.jpg");
    background-size: contain;
    border: transparent;
}